.regionForm, .siteForm, .statusForm, .positionForm, .credsForm, .sLocationForm, .sPopForm, .popForm, .acuityForm, .expForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 15%;
    background-color: #fff;
    border-radius: 0.6rem;
    border: 1px solid #C4C4C4;
    margin-right: 0.5rem;
}

.formTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0.5rem;
    cursor: pointer;
    z-index: 20;
    font-size: small;
}
  
.formTitle p {
    margin: 0 0.5rem 0 0;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 10%;
    width: 95%;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.filterRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 2rem;
    margin: 1rem 0;
}
  
.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 40%;
}
  
.searchInput {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    width: 90%;
    border: 1px solid #C4C4C4;
    border-radius: 0.3rem;
    padding-left: 0.5rem;
}

.titleCol1, .dataCol1 {
    width: 22%;
    margin-left: 2rem;
}

.titleCol1 {
    font-size: large;
}

.dataCol1 {
    flex-wrap: wrap;
    font-size: small;
}

.titleCol2, .dataCol2, .titleCol3, .dataCol3 {
    width: 12%;
}

.titleCol2, .titleCol3 {
    font-size: large;
}

.dataCol2, .dataCol3 {
    flex-wrap: wrap;
    font-size: small;
}

.titleCol4, .dataCol4 {
    width: 16%;
}

.titleCol4 {
    font-size: large;
}

.dataCol4 {
    flex-wrap: wrap;
    font-size: small;
}

.titleCol5, .dataCol5 {
    width: 13%;
}

.titleCol5 {
    font-size: large;
}

.dataCol5 {
    flex-wrap: wrap;
    font-size: small;
}

.titleCol6 {
    width: 13%;
    font-size: large;
}

.titleCol7 {
    width: 13%;
    font-size: large;
}

.dataCol6 {
    width: 13%;
    flex-wrap: wrap;
    font-size: small;
}

.dataCol7 {
    width: 13%;
    flex-wrap: wrap;
    font-size: small;
}

.download {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 15%;
    background-color: #fff;
    border-radius: 0.6rem;
    font-size: 0.8rem;
    border: 1px solid #C4C4C4;
    transition: 0.2s linear;
    cursor: pointer;
}

.download:hover {
    color: rgb(35, 158, 62);
    font-size: 0.85rem;
}