.container {
    height: 100vh;
    width: 100vw;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.content {
    height: 100vh;
    width: 92%;
    overflow-y: scroll;
}

.menu {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row, .siteRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.siteRow {
    padding-left: 4rem;
    justify-content: flex-start;
}

.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 2.5rem;
    width: 90%;
    margin-top: 0.5rem;
}

.searchInput {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    width: 90%;
    border: 1px solid #C4C4C4;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
}

.searchInput:active {
    border: 1px solid #079CDB;
}

.data {
    background-color: #F5F6FA;
    margin: 1rem 5rem 0 7rem;
    padding: 2rem 0;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

.generalBox {
    margin: 2rem 5rem 0 7rem;
    height: auto;
    width: auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F6FA;
    padding: 1rem 0;
}

#topBox {
    margin-top: 3rem;
}

.generalContent {
    height: auto;
    width: 90%;
}

.generalTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.generalDetail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.generalDetail p {
    margin: 0.5rem;
}

.generalTitleHeader, .generalTitleSubHeader {
    padding: 0;
    margin: 0.5rem 0;
}

.generalTitleHeader {
    font-size: 1.3rem;
    font-weight: bold;
}

.generalTitleSubHeader {
    color: #AAB2C8;
    font-weight: 400;
}

@media only screen and (max-width: 1025px) {
    .data, .generalBox {
        margin: 1rem 1rem 0 1rem;
    }

    .row, .siteRow {
        font-size: 1.2rem;
    }
}