html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

#nprogress .bar {
  height: 4px !important;
}

.displayRow, .displayVizRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  height: 3.6rem;
  margin: 0.4rem 0;
  border-radius: 1rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  z-index: 100;
}

.displayRow {
  width: 85%;
}

.displayVizRow {
  width: 95%;
}

.displayRow:hover, .displayVizRow:hover {
  color: #079CDB;
  transition: linear 0.3s;
}

.displayRow:hover {
  width: 86%;
}

.displayVizRow:hover {
  width: 96%;
}

.displayRegionRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  height: 3.6rem;
  width: 80%;
  margin: 0.4rem 0;
  border-radius: 1rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.displayRegionRow:hover {
  color: #079CDB;
  width: 81%;
  transition: linear 0.3s;
}

.row1Sites {
  width: 40%;
}

.row2Sites {
  width: 20%;
}

.row3Sites {
  width: 20%;
}

.row4Sites {
  width: 15%;
}


.row1Clinics {
  width: 50%;
}

.row2Clinics {
  width: 25%;
}

.row3Clinics {
  width: 20%;
}

.rowContentClinics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  height: 100%;
}

.titleClinics {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.tag0, .tag1, .tag2, .tag3, .tag4, .tag5, .tag6, .tag7, .tag8, .tag9, .tag10, .tag11, .tag12, .tag13 {
  height: 100%;
  width: 3%;
  border-start-end-radius: 1rem;
  border-end-end-radius: 1rem; 
}

.tag0 {
  background-color: #FF8B8B;
}

.tag1 {
  background-color: #FFB23E;
}

.tag2 {
  background-color: #3EDCFF;
}

.tag3 {
  background-color: #34E23B;
}

.tag4 {
  background-color: #8B97FF;
}

.tag5 {
  background-color: #CC8BFF;
}

.tag6 {
  background-color: #FF8BE6;
}

.tag7 {
  background-color: #FDFF8B;
}

.tag8 {
  background-color: #814242;
}

.tag9 {
  background-color: #816F42;
}

.tag10 {
  background-color: #438142;
}

.tag11 {
  background-color: #425381;
}

.tag12 {
  background-color: #c4c4c4;
}

.tag13 {
  background-color: rgb(73, 73, 73);
}

.tag {
  background-color: #000;
}

.clinicTag0, .clinicTag1, .clinicTag2, .clinicTag3, .clinicTag4, .clinicTag5, .clinicTag6, .clinicTag7, .clinicTag8, .clinicTag9, .clinicTag10, .clinicTag11, .clinicTag12, .clinicTag13 {
  height: 100%;
  width: 3%;
  border-start-end-radius: 1rem;
  border-end-end-radius: 1rem; 
}

.clinicTag0 {
  background-color: #B7DEE8;
}

.clinicTag1 {
  background-color: #4BACC6;
}

.clinicTag2 {
  background-color: #31869B;
}

.clinicTag3 {
  background-color: #E4DFEC;
}

.clinicTag4 {
  background-color: #CCC0DA;
}

.clinicTag5 {
  background-color: #FFFFCC;
}

.clinicTag6 {
  background-color: #FCD5B4;
}

.clinicTag7 {
  background-color: #FABF8F;
}

.clinicTag8 {
  background-color: #A9D08E;
}

.clinicTag9 {
  background-color: #DA9694;
}

.clinicTag, .clinicTagundefined {
  background-color: #000;
}

/*added*/

.siteTag0, .siteTag1, .siteTag2, .siteTag3, .siteTag4, .siteTag5, .siteTag6, .siteTag7, .siteTag8, .siteTag9, .siteTag10, .siteTag11, .siteTag12, .siteTag13 {
  height: 100%;
  width: 3%;
  border-start-end-radius: 1rem;
  border-end-end-radius: 1rem; 
}

.siteTag0 {
  background-color: #B7DEE8;
}

.siteTag1 {
  background-color: #4BACC6;
}

.siteTag2 {
  background-color: #31869B;
}

.siteTag3 {
  background-color: #E4DFEC;
}

.siteTag4 {
  background-color: #CCC0DA;
}

.siteTag5 {
  background-color: #FFFFCC;
}

.siteTag6 {
  background-color: #FCD5B4;
}

.siteTag7 {
  background-color: #FABF8F;
}

.siteTag8 {
  background-color: #A9D08E;
}

.siteTag9 {
  background-color: #DA9694;
}

.preceptorTag0, .preceptorTag1, .preceptorTag2, .preceptorTag3, .preceptorTag4, .preceptorTag5, .preceptorTag6, .preceptorTag7, .preceptorTag8, .preceptorTag9, .preceptorTag10, .preceptorTag11, .preceptorTag12, .preeptorTag13 {
  height: 100%;
  width: 3%;
  border-start-end-radius: 1rem;
  border-end-end-radius: 1rem; 
}

.preceptorTag0 {
  background-color: #B7DEE8;
}

.preceptorTag1 {
  background-color: #4BACC6;
}

.preceptorTag2 {
  background-color: #31869B;
}

.preceptorTag3 {
  background-color: #E4DFEC;
}

.preceptorTag4 {
  background-color: #CCC0DA;
}

.preceptorTag5 {
  background-color: #FFFFCC;
}

.preceptorTag6 {
  background-color: #FCD5B4;
}

.preceptorTag7 {
  background-color: #FABF8F;
}

.preceptorTag8 {
  background-color: #A9D08E;
}

.preceptorTag9 {
  background-color: #DA9694;
}


.editButton {
  height: 3rem;
  width: 10rem;
  background-color: #fff;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #1AACFE;
  border: solid 2px #1AACFE;
  border-radius: 0.5rem;
  cursor: pointer;
  z-index: 100;
}

* {
  box-sizing: border-box;
}

/* DO NOT IMPORT GOOGLE FONTS HERE! Chrome threw a lot of errors for no reason */