.container {
    height: 100vh;
    width: 100vw;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.content {
    height: 100vh;
    width: 92%;
    overflow-y: scroll;
}

.mainCharts {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1rem;
}

.chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 40%;
    background-color: #F5F5F5;
    border-radius: 2rem;
    margin: 0 1rem 1rem 1rem;
    padding: 1rem 2rem 2rem 2rem;
}

.chartTitle {
    height: auto;
    width: 90%;
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.data {
  /* height: '90%';
  width: 'auto'; */
  display: flex;
  font-size: 3rem;
  /* flex-direction: row; */
  /* justify-content: space-around; */

}

.numCol1{
  /* height: auto; */
  font-weight: bold;
  /* font-size: 3rem; */
  padding-right: 5rem;
}

.numCol2{
  /* font-size: 3rem; */
  font-weight: bold;
  padding-right: 3rem;
}

.numCol3{
  /* font-size: 3rem; */
  font-weight: bold;
  padding-left: 2rem;
  /* padding-right: 0.5rem; */
}

.label {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  justify-content: space-evenly;
  align-items: center;
  /* height: 10%; */
  /* width: 95%; */
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}

.siteCol1{
  padding-left: 0.7rem;
}

.siteCol2{
  align-items: center;
  padding-left: 4rem;
}

.siteCol3{
  padding-left: 4rem;
}