.container {
  height: 100vh;
  width: 100vw;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.content {
  height: 100vh;
  width: 92%;
  overflow-y: scroll;
}

.mainCharts {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1rem;
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 95%;
  width: 40%;
  background-color: #F5F5F5;
  border-radius: 2rem;
  margin: 0 1rem 1rem 1rem;
  padding: 1rem 2rem 2rem 2rem;
}

.chartTitle {
  height: auto;
  width: 90%;
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
