.container {
    height: 100vh;
    width: 100vw;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.content {
    height: 100vh;
    width: 92%;
    overflow-y: scroll;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 90%;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.data, .noteData {
    background-color: #F5F6FA;
    margin: 5rem 5rem 0 7rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    margin-bottom: 1rem;
    padding-bottom: 4rem;
}

.noteData {
    margin-top: 0rem;
}

.profileImg {
    height: auto;
    width: 15%;
    background-color: #fff;
}

.profileImg img {
    height: 100%;
    width: 100%;
}

.profileInfo {
    height: auto;
    width: 85%;
}

.bioTitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
}