.container {
    height: 100vh;
    width: 100vw;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.content {
    height: 100vh;
    width: 92%;
    overflow-y: scroll;
}

.menu {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 15%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 2.5rem;
    width: 90%;
    margin-top: 2rem;
}

.searchInput {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    width: 90%;
    border: 1px solid #C4C4C4;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
}

.searchInput:active {
    border: 1px solid #079CDB;
}

.titleCol1 {
  width: 30%;
  margin-left: 2rem;
  font-size: large;
}

.titleCol2 {
  width: 10%;
  font-size: large;
}

.titleCol3 {
  width: 15%;
  font-size: large;
}

.titleCol4 {
  width: 15%;
  font-size: large;
}

.titleCol5 {
  width: 15%;
  font-size: large;
}

.titleCol6 {
  width: 10%;
  font-size: large;
}

.data {
    background-color: #F5F6FA;
    margin: 2rem 3rem 0 7rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-height: 100vh;
    width: auto;
    padding-left: 5rem;
    padding-bottom: 4rem;
    overflow-y: scroll;
}