.container {
  height: 100vh;
  width: 100vw;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.content {
  height: 100vh;
  width: 92%;
  overflow-y: scroll;
}

.data {
  background-color: #f5f6fa;
  margin: 5rem 5rem 0 7rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /* height: 550px; */
  width: 88%;
  margin-bottom: 3rem;
  padding-bottom: 4rem;
  /* padding: 1rem; */
}

.view1 {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  /* justify-content: flex-start;
  /* align-items: flex-start; */
  /* margin: 3rem; */
  margin-left: 30%;
  /* margin: 2rem 2rem 0 2rem; */
  /* margin-left: 2.5rem; */
  height: 10%;
  width: 40%;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.view1:hover { 
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.view2 {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  /* justify-content: flex-start;
  align-items: flex-start; */
  margin-right: 40%;
  /* margin: 2rem 2rem 0 2rem; */
  /* margin-left: 2.5rem; */
  /* height: 10%;
  width: 40%; */
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.toggleRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.3rem;
}

.toggleTitle {
  cursor: pointer;
  padding-bottom: 0.7rem;
  border-bottom: 3px solid #079CDB;
}

.filterRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 2rem;
  margin: 1rem 0;
}

.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 40%;
}

.searchInput {
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
  width: 90%;
  border: 1px solid #C4C4C4;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  padding-left: 0.5rem;
}

.searchBtn {
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #079CDB;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  opacity: 85%;
  cursor: pointer;
}

.searchBtn:hover {
  opacity: 100%;
}

.regionForm, .siteForm, .statusForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  background-color: #fff;
  border-radius: 0.6rem;
  border: 1px solid #C4C4C4;
}

.formTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1.5rem;
}

.formTitle p {
  margin: 0 1rem 0 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* margin: 4rem 2rem 1rem 2rem; */
  /* margin: 2rem 2rem 0 2rem; */
  /* margin-left: 2.5rem; */
  height: 10%;
  width: 90%;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.mainCharts {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 40%;
  background-color: #f5f5f5;
  border-radius: 2rem;
  margin: 1rem;
  padding: 1rem 2rem 2rem 2rem;
}

.chartTitle {
  height: auto;
  width: 90%;
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.titleCol1 {
  width: 40%;
}
.titleCol2 {
  width: 20%;
}
.titleCol3 {
  width: 15%;
}
.titleCol4 {
  width: 25%;
}

.dataCol1 {
  width: 40%;
}
.dataCol2 {
  width: 20%;
}
.dataCol3 {
  width: 15%;
}
.dataCol4 {
  width: 20%;
}
